.feed-container {
    position: relative;
    width: 98%;
    height: 20%;
    background-color: #F7F7F7;
    justify-self: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 8px;
    border-radius: 6px;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
}
.feed-picture {
    width: 98%;
    height: 97%;
}
.feed-email {
    display: flex;
    margin-left: 24px;
}
.feed-avatar {
    display: flex;
    width: 40px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2%;
    border-radius: 40px;
}
.feed-info-container {
    display: flex;
    justify-content: start;
    align-content: center;
}