.about-container {
    height: 100%;
    width: 100%;
}

.title-container {
    width: 100%;
    height: 10%;
    margin-bottom: 20px;
}

.about-title {
    font-size: 36px !important;
    margin-top: 60px;
}

.about-content {
    display: flex;
    align-items: center;
    border: 1px solid #4080FF;
    height: 40px;
    border-radius: 18px;
    width: 50%;
    margin: auto auto 10px;
}
.about-content-block {
    display: flex;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 17px;
    justify-content: space-between;
}

.about-content:hover {
    color: white;
    background-color: #4080FF;
}

@media screen and (max-width: 700px) {
    .about-content {
        width: 90%;
    }
}
