.upload-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 98%;
    height: 50px;
    background-color: white;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    border-radius: 6px;
    margin: 0 auto 8px auto
}
.upload-input {
    width: 60%;
}
@media screen and (min-width: 700px) {
    .upload-container {
        width: 45%;
    }
}